$background-color-base: #ffffff;
$heading-color: #000000d9;
$info-color: #1890ff;
$success-color: #52c41a;
$text-color: #000000bf;
$text-color-secondary: #00000080;
$background-color: #ebeef3;

$grey-7: #8c8c8c;
$grey-9: #262626;

$screen-md: 940px;
$box-shadow:
  0px 0.609px 2.933px 0px #00000005,
  0px 1.463px 7.049px 0px #00000008,
  0px 2.755px 13.273px 0px #0000000a,
  0px 4.914px 23.676px 0px #0000000a,
  0px 9.191px 44.284px 0px #0000000d,
  0px 22px 106px 0px #00000012;
